<% provide(:title, t(".title")) %>

<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1 class="fw-bold mb-4">
      <%= t(".header") %>
    </h1>

    <%= render "form", submit_text: t(".submit_text") %>
  </div>
</div>
