<div class="alert alert-<%= flash_color(type) %> d-flex align-items-center justify-content-center gap-2 p-1 m-0 mb-3 rounded-0">
  <i class="bi <%= flash_icon(type) %>"></i>

  <strong><%= message %></strong>
</div>
