<div class="d-flex gap-3 align-items-center">
  <h1 class="fw-bold"><%= t(".header") %></h1>

  <%= turbo_frame_tag :new_category do %>
    <%= link_to t(".new"), [:new, :category], class: "btn btn-outline-primary" %>
  <% end %>
</div>

<div id="categories">
  <%= render @categories %>
</div>
